<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <div class="main__content padding-large">
            <%- include("../league/league-table",
            {
                leagues: leagues
            }) %>
        </div> 
    </section>
<%- include('../includes/end.ejs') %>