<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <h2>Lige</h2>
        <div>
            <% if (leagues.length > 0) { %>
                <% leagues.forEach(league => { %>
                    <p><%= JSON.stringify(league) %></p>
                <% }) %>
            <% } else { %>
                <p>Trenutno nema Liga!</p>
            <% } %>
        </div>
    </section>
<%- include('../includes/end.ejs') %>