table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #ccc;
    color: #000;
    padding: 10px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
}

.table__action {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #e0e0e0;
}

.table__image {
    max-width: 100px;
    max-height: 100px;
}

.table__action-btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
