<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
<%- include('../includes/navigation.ejs') %>
<section class="main__container">
    <h2>Dodaj Novo Pitanje</h2>
    <div class="main-form__container">
        <form class="main-form" id="questionForm" action="/admin/dodajte-pitanje" method="POST">
            <!-- Korak 1 -->
            <div class="form-step" id="step-1">
                <div class="main-form__group">
                    <label class="main-form__label" for="type">Tip</label>
                    <select class="main-form__select" name="type" id="type" required>
                        <option value="text">Tekstualno</option>
                        <option value="image">Slika</option>
                        <option value="multipleChoice">Višestruki izbor</option>
                        <option value="matching">Uparivanje</option>
                    </select>
                </div>
                <div class="main-form__group">
                    <label class="main-form__label" for="category">Kategorija</label>
                    <select class="main-form__select" name="category" id="category" required>
                        <option value="fudbal">Fudbal</option>
                        <option value="kosarka">Košarka</option>
                        <option value="tenis">Tenis</option>
                    </select>
                </div>
                <div class="main-form__group">
                    <label class="main-form__label" for="difficulty">Težina</label>
                    <select class="main-form__select" name="difficulty" id="difficulty" required>
                        <option value="1">1 - Lako</option>
                        <option value="2">2 - Srednje</option>
                        <option value="3">3 - Teško</option>
                        <option value="4">4 - Veoma Teško</option>
                        <option value="5">5 - Ekstremno</option>
                    </select>
                </div>
                <div class="main-form__group">
                    <label class="main-form__label" for="date">Datum</label>
                    <input class="main-form__select" type="date" name="date" id="date">
                </div>
                <div>
                    <button class="btn" type="button" onclick="nextStep()">Dalje</button>
                </div>
            </div>

            <!-- Korak 2 -->
            <div class="form-step" id="step-2" style="display: none;">
                <!-- Description -->
                <div class="main-form__group">
                    <label class="main-form__label" for="description">Opis</label>
                    <textarea class="main-form__textarea" name="description" id="description" required></textarea>
                </div>
                <div>
                    <button class="btn" type="button" onclick="prevStep()">Nazad</button>
                    <button class="btn" type="button" onclick="nextStep()">Dalje</button>
                </div>
            </div>

            <!-- Korak 3 -->
            <div class="form-step" id="step-3" style="display: none;">
                <!-- Accepted Answers -->
                <div id="acceptedAnswersContainer" class="main-form__group">
                    <div class="accepted-answer">
                        <label class="main-form__label" for="answerText0">Tačan Odgovor</label>
                        <textarea class="main-form__textarea" name="acceptedAnswers[text]" id="answerText0" required></textarea>

                        <label class="main-form__label" for="points0">Bodovi</label>
                        <input class="main-form__input" type="number" name="acceptedAnswers[points]" id="points0" required>

                        <label class="main-form__label" for="answerImage0">Slika</label>
                        <input class="main-form__input" type="text" name="acceptedAnswers[image]" id="answerImage0">
                        <img id="answerImagePreview0" src="" alt="" style="display: none;">
                    </div>
                </div>
                <button class="btn" type="button" id="addAcceptedAnswerButton" onclick="addAcceptedAnswer()" style="display: none;">Dodaj Tačan Odgovor</button>

                <div>
                    <button class="btn" type="button" onclick="prevStep()">Nazad</button>
                    <button class="btn" type="button" onclick="nextStep()">Dalje</button>
                </div>
            </div>

            <!-- Korak 4 -->
            <div class="form-step" id="step-4" style="display: none;">
                <!-- Multiple Answers -->
                <div id="multipleAnswersContainer">
                    <div class="multiple-answer main-form__group">
                        <label class="main-form__label" for="multiAnswerText0">Mogući Odgovor</label>
                        <textarea class="main-form__textarea" name="multipleAnswers[text]" id="multiAnswerText0"></textarea>

                        <label class="main-form__label" for="multiAnswerImage0">Slika</label>
                        <input class="main-form__input" type="text" name="multipleAnswers[image]" id="multiAnswerImage0">
                        <img id="multiAnswerImagePreview0" src="" alt="" style="display: none;">
                    </div>
                </div>
                <!-- Dugme za dodavanje novog odgovora -->
                <button class="btn" type="button" id="addMultipleAnswerButton" onclick="addMultipleAnswer()" style="display: none;">Dodaj Mogući Odgovor</button>

                <div class="main-form__group">
                    <button class="btn" type="button" onclick="prevStep()">Nazad</button>
                    <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Napravi</button>
                </div>
            </div>
        </form>
        <a class="main__link" href="/">Odustanite</a>
    </div>
</section>


<script src="/js/question-form.js">

</script>

<%- include('../includes/end.ejs') %>
