<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <div class="main__content padding-large">
            <% if (quests.length > 0) { %>
                <div class="main__content">
                    <%- include("./quest-table"), {quests: quests} %>
                </div>
            <% } else { %>
                <p>Trenutno nema Pitanja!</p>
            <% } %>
        </div>
    </section>
<%- include('../includes/end.ejs') %>